include components/page-navigator.pug
include components/post-card.pug
include components/post-meta.pug
include components/license.pug
include components/labeled-card.pug
include components/multi-language.pug
include components/giscus.pug
include components/back-to-top.pug
include components/loading-circle.pug
include components/background-copyright.pug

- clear_build()

doctype html 
html(lang=page.language)
    head
        block head
            meta(http-equiv="content-language",content=page.language)
            meta(charset='utf-8')
            meta(name="darkreader-lock")
            meta(name="viewport",content="width:device-width,initial-scale=1.0")
            meta(name="author",content=page.author||ctx.config.author||ctx.config.name)
            style.
                body:not(.js-disabled){visibility: hidden}
                :root { --hue: var(--config-hue); background: oklch(.16 .014 var(--hue)) }
            script(type='module').
                let p=!{ctx.config.theme_next&&ctx.config.theme_next.accent_color||250}; let d='0xarch.github.io/color-hue'; if (localStorage.getItem(d)) { let h = localStorage.getItem(d); if(h||h===0) p=h } document.documentElement.style.setProperty('--config-hue', p)
            link(rel="icon",href=url_for("icon.svg"))
            link(rel='stylesheet',href=url_for('css/global.css'))
            link(rel='stylesheet',href=url_for('css/global_side.css'))
            link(rel='stylesheet',href=url_for('css/global_widgets.css'))
            link(rel='stylesheet',href=url_for('css/global_frame.css'))
            link(rel='stylesheet',href=url_for('css/global_page.css'))
            link(rel='stylesheet',href=url_for('css/admon-extra.css'))
            script(type="module",defer="true",src=url_for('es/ui.mjs'))

    body(class='dom-loaded main-anim-finished js-disabled',OCP='OVERRIDE')
        script.
            document.body.style.setProperty('visibility','visible')
            document.body.classList.remove('dom-loaded','main-anim-finished','js-disabled')
        +loading-circle
        +back-to-top
        header.global
            a.__.kLogo(href=url_for('/'))
                .home-icon!= _icon('material-symbols:home','rounded')
                .text!= ctx.config.title || `${ctx.config.author}'s Blog`
            .links.nav-links
                a.__.nav-link.home(href=url_for('/'))= __('Home')
                a.__.nav-link.archives(href=url_for('/archives/0/'))= __('Archives')
                if ctx.config.theme_next && ctx.config.theme_next.additional_navs
                    for v,k in ctx.config.theme_next.additional_navs
                        if typeof v === 'object'
                            a.nav-link(href=v.url,class=v.isExternal?'':'__') #{v.title}
                                if v.isExternal
                                    != _icon('material-symbols:open_in_new','rounded')
                        else
                            a.__.nav-link(href=v)= k.startsWith('^') ? k.slice(1) : __(k)
            .operations
                #headerButtonSearch!= _icon('material-symbols:search','rounded')
                #headerButtonPalette!= _icon('material-symbols:palette','rounded')
                .toggle!= _icon('material-symbols:menu','rounded')
            .operation-container
                #headerComponentSearch
                        .queryContainer 
                            input
                            button.clear!= _icon('material-symbols:refresh','rounded')
                            button.search!= _icon('material-symbols:search','rounded')
                        .resultContainer
                #headerComponentPalette
                    .line
                        .reset-button!= _icon('material-symbols:refresh','rounded')
                        .number-show
                    .scroll
                        - let default_value = 250
                        - if (ctx.config.theme_next && ctx.config.theme_next.accent_color) {
                        -   default_value = Number(ctx.config.theme_next.accent_color)
                        - }
                        input.scroller(value=default_value || 250,type='range',min=0,max=360,step=5,default=default_value) 
        main.no-anim#NEO_MAIN
            .sideCon#NEO_SIDE
                include side_widget.pug
            .mainCon#NEO_REPLACE
                if ctx.config.theme_next.banner && ctx.config.theme_next.banner.credit
                    +background-copyright(ctx.config.theme_next.banner.credit, ctx.config.theme_next.banner.credit_url)
                block content
        footer.global
