.side.user-intro.NeoWidget
    img.avatar(loading='lazy',src=(ctx.config.avatar || url_for('/avatar.webp')))
    h2.userName
        a(href=ctx.config.url)= ctx.config.author
    .intro= ctx.config.note || ctx.config.description || (ctx.config.data && (ctx.config.data.intro || ctx.config.data.announcement)) || 'Write something here...'
    .socialLinks
        each val,key in ctx.config.social_links || {}
            a.link(href=val.url,title=key)!=get_fa_brand(val.icon)
.stickyGroup
    .side.category-list.NeoWidget
        h2= _i18n('Categories',_i18n_lang(page.current))
        if site.categories.length > 5
            input(type='checkbox',id='cate-expand-ccb').cates-expand-button
            label(for='cate-expand-ccb').cates-expand-label!= '···'
            .cates-container.withexpand
                each v in site.categories
                    a.--smooth.cate(data-count=v.values.length,href=url_for(`/categories/${v.key}/0/index.html`))= v.key
        else
            .cates-container
                each v in site.categories
                    a.--smooth.cate(data-count=v.values.length,href=url_for(`/categories/${v.key}/0/index.html`))= v.key

    .side.tag-list.NeoWidget
        h2= _i18n('Tags',_i18n_lang(page.current))
        .tags-container
            each v in site.tags
                a.--smooth.tag(href=url_for(`/tags/${v.key}/0/index.html`))= v.key