mixin post-meta(post,include_time=false, include_title=false)
    .post-meta
        if include_time
            .meta-content
                .wordCount
                    i.iconBlock.plain!= _icon('material-symbols:notes','rounded')
                    span #{post.length} #{__('words')}
                .readTime
                    - let evlTime = Math.ceil(post.length/250)
                    i.iconBlock.plain!= _icon('material-symbols:schedule','rounded')
                    span #{evlTime} #{__(evlTime==1?'Minute':'Minutes')}
        if include_title
            h1.meta-title= post.title
        .meta-content
            .pubDate
                i.iconBlock!= _icon('material-symbols:calendar_today','rounded')
                date= post.date.format('YYYY-MM-DD')
            if post.categories.length
                .category
                    i.iconBlock!= _icon('material-symbols:book_2','rounded')
                    a.--smooth(href=url_for('/categories/'+post.categories[0]+'/0/index.html'))= post.categories[0]
                        each val in post.categories.slice(1)
                            .hr
                            a.--smooth(href=url_for('/categories/'+val+'/0/index.html'))= val
            if post.tags.length
                .tag
                    i.iconBlock!= _icon('material-symbols:tag','rounded')
                    a.--smooth(href=url_for('/tags/'+post.tags[0]+'/0/index.html'))= post.tags[0]
                    each val in post.tags.slice(1)
                        .hr
                        a.--smooth(href=url_for('/tags/'+val+'/0/index.html'))= val

mixin post-meta-detailed(post)
    .post-meta
        .meta-content
            .wordCount
                i.iconBlock.plain!= _icon('material-symbols:notes','rounded')
                span #{post.length} #{__('words')}
            .readTime
                - let evlTime = Math.ceil(post.length/250)
                i.iconBlock.plain!= _icon('material-symbols:schedule','rounded')
                span #{evlTime} #{__(evlTime==1?'Minute':'Minutes')}
        h1.meta-title= post.title
        .meta-content
            .pubDate
                i.iconBlock!= _icon('material-symbols:calendar_today','rounded')
                date= post.date.format('YYYY-MM-DD')
            if post.categories.length
                .category
                    i.iconBlock!= _icon('material-symbols:book_2','rounded')
                    a.--smooth(href=url_for('/categories/'+post.categories[0]+'/0/index.html'))= post.categories[0]
                        each val in post.categories.slice(1)
                            .hr
                            a.--smooth(href=url_for('/categories/'+val+'/0/index.html'))= val
            if post.tags.length
                .tag
                    i.iconBlock!= _icon('material-symbols:tag','rounded')
                    a.--smooth(href=url_for('/tags/'+post.tags[0]+'/0/index.html'))= post.tags[0]
                    each val in post.tags.slice(1)
                        .hr
                        a.--smooth(href=url_for('/tags/'+val+'/0/index.html'))= val

mixin post-meta-minimal(post)
    .post-meta
        h1.meta-title= post.title
        .meta-content
            .pubDate
                i.iconBlock!= _icon('material-symbols:calendar_today','rounded')
                date= post.date.format('YYYY-MM-DD')