mixin post-card(item)
    .post-card(class=item.properties.image&&'image')
        .contentBox
            header.title
                a.--smooth(href=url_for(item.web_relative_path.toString()+'/'))
                    h2= item.title
                        .after!= _icon('material-symbols:chevron_right','rounded')
            +post-meta(item)
            .excerpt!= item.excerpt.replace(/<a[\s\S]*?>[\s\S]*?<\/a>/,'')
            .length
                - let evlTime = Math.ceil(item.length/250)
                .wordCount= item.length+' '+__('words')
                .hr
                .evlTime= evlTime+' '+__(evlTime==1?'Minute':'Minutes')
        a.--smooth.readMore(href=url_for(item.web_relative_path.toString()+'/'),style=item.properties.image&&'background-image: url('+item.properties.image+')')
            .cover!= _icon('material-symbols:chevron_right','rounded')
            .button